.img {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    display: inline;
}
.name{
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
    padding-top: 5px;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.text{
    font-size: 13px;
}
